* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Rubik,sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ff4d30 #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ff2525;
}


body {
  font-family: Poppins,sans-serif;
}

.container {
  max-width: 130em !important;
  margin: 0 auto;
}

.main-button {
    border: none;
    border-radius: .3rem;
    background-color: #ff4d30;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    font-family: Rubik,sans-serif;
    font-weight: 500;
    color: white;
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.35);
    transition: all .3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}



.main-button:hover {
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.5);
}